* {
  margin: 0px;
  padding: 0px;
}
/* 
 -> display -> inline, inline-block, block, none,  visibility: hidden
    display-> flex, and grid 
*/
.block {
  background-color: aqua;
  /* display: inline; */
  /* inline -> width and height  */
  /* display: block; */
  /* display: inline-block; */
  /* width: 100vw; */
  /* display: none; */
  visibility: hidden;
}
/* 
-> flex, flex-direction, gap, flex-wrap, justify-content, align-items, 
*/
/* .container {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  /* direction : row 
  flex-direction: column;
  flex-direction: column-reverse;
  flex-direction: row-reverse;
  flex-direction: row;
  /* flex-wrap 
  flex-wrap: nowrap;
  flex-wrap: wrap;
  /* justify-content 
  justify-content: start;
  justify-content: end;
  justify-content: center;
  justify-content: space-evenly;
  justify-content: space-around;
  justify-content: space-between;
  align-items: start;
  align-items: end;
  align-items: center;
  align-items: baseline;
  gap: 30px;
} */
.one {
  background-color: red;
  width: 200px;
  height: 200px;
}
.one1 {
  background-color: green;
  width: 200px;
  height: 200px;
}
/* 
    display: grid-> grid-template-columns, gap, grid-template-rows
*/
.container {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
