@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");

/* import fonts in css */
@font-face {
  font-family: "shishir";
  src: url("./assets/Poppins-Regular.ttf");
}
/* this is a comment */
/* selector  -> 
universal selector *, 
id selector #, 
class selector ., 
element selector h1,
group selector
descedent selector
*/
* {
  margin: 0;
  padding: 0;
}
/* id */
#two {
  background-color: green;
  font-size: 20px;
  font-weight: 400;
  color: aliceblue;
}
/* class */
.one {
  background-color: black;
  font-size: 20px;
  font-weight: 400;
  color: aliceblue;
}
/* element selector */
h1 {
  background-color: blue;
  font-size: 20px;
  font-weight: 400;
  color: aliceblue;
}
/* group selector */
h4,
h5,
h6 {
  background-color: yellow;
  font-size: 20px;
  font-weight: 400;
  color: blue;
}
/* descedent selector */
div p {
  background-color: aquamarine;
}

/*  color -> background , forground */
/* color-> named color, rgb, rgba, hexa, hsl,  */
.colors {
  background-color: black; /* named */
  background-color: rgb(255, 0, 0); /* rgb */
  background-color: rgba(50, 50, 255, 0.9); /* rgba */
  background-color: #fd0000; /* hexa */
  background-color: hsl(300, 50%, 50%); /* hsl */
}
/* css priority -> inline, id, class, element, uni, 
                   internal css and external css */
/* h1 {
  background-color: #fd0000;
} */
.ones {
  background-color: rgb(7, 255, 102);
  font-size: 20px;
}
/* #oness {
  background-color: rgb(255, 0, 255);
  font-size: 20px;
} */
/* fonts */
.fonts {
  font-size: 30px; /* default size 16px*/
  font-weight: 400; /* default weight 400*/
  font-family: "Rubik Vinyl", cursive, "Times New Roman";
  font-style: italic; /* normal style */
  text-align: justify;
  letter-spacing: 5px;
  word-spacing: normal;
  text-transform: lowercase; /* none */
  text-decoration: underline; /* none -> default, underline, overline, line-through */
  line-height: 50px;
}
.ownfonts {
  font-family: "shishir";
}
